@import url("https://fonts.googleapis.com/css?family=Lato:300,700");

@font-face {
  font-family: "aaux";
  src: url("../fonts/aaux_next_comp_black-webfont.woff2") format("woff2"), url("../fonts/aaux_next_comp_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aauxThin";
  src: url("../fonts/aaux_next_comp_thin-webfont.woff2") format("woff2"), url("../fonts/aaux_next_comp_thin-webfont.woff") format("woff");
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "aauxRegular";
  src: url("../fonts/aaux_next_comp_regular-webfont.woff2") format("woff2"), url("../fonts/aaux_next_comp_regular-webfont.woff") format("woff");
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "aauxBold";
  src: url("../fonts/aaux_next_comp_bold-webfont.woff2") format("woff2"), url("../fonts/aaux_next_comp_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  background-color: #26272b;
  background-image: linear-gradient(315deg, #26272b 0%, #383a3f 74%);
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$font: "aaux", sans-serif;
$fontThin: "aauxThin", thin;
$fontBold: "aauxBold", bold;
$fontRegular: "aauxRegular", regular;

$white: #ffffff;
$black: #000000;
$yellow: #dcbf59;
$blue: #81cce8;

$ease: all 0.3s ease;

* {
  font-family: $fontBold !important;
}

/* logo-start */

.logo {
  height: 229px;
  width: 600px;
}

/* logo-end */

/* serach-box-start */

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 3px 0px 6px 0px;
}

input[type="search"] {
  box-shadow: 10px 10px 4px rgba($black, 0.4);
  background: $white;
  border: 2px solid #dcbf59;
  outline: none;
  width: 350px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  font-size: 1.4em;
  font-weight: 300;
  padding: 0px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

::placeholder {
  opacity: 35%;
  color: #383a3f;
  font-size: 0.8em;
}

.search-btn {
  box-shadow: 10px 10px 4px rgba($black, 0.4);
  height: 50px;
  width: 55px;
  outline: none;
  border-radius: 0 5px 5px 0;
  background: $yellow;
  color: $white;
  border: none;
  transition: $ease;
  &:hover {
    transition: $ease;
    i {
      font-size: 2.5em;
    }
  }
  i {
    font-size: 2.3em;
  }
}

/* serach-box-end */

/*switch-start*/

.iconFlag{
  width: 40px;
  height: 40px;
}

.switch {
  margin-top: 6px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2d7492;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2d7492;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(31px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*switch-end*/

/* card-start */

.block {
  position: relative;
  //   margin: 25vh auto;
  //   width: 50%;
  //   min-width: 320px;
  //   min-height: 320px;
  background: linear-gradient(0deg, #000, #262626);
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    z-index: -1;
    animation: shadow 20s linear infinite;
  }
  &:after {
    top: -8px;
    left: -8px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    filter: blur(24px);
    opacity: 0.9;
  }
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.fa {
  font-family: "Font Awesome 5 Free" !important;
}

#CardGlobal {
  margin-top: 35px !important;
  margin-bottom: 80px !important;
}

.cover {
  opacity: 60%;
  position: absolute;
  background-color: black !important;
  height: 100% !important;
  width: 100% !important;
}

.back-Background {
  opacity: 100%;
  position: absolute;
  background-color: #232b2b !important;
  height: 100% !important;
  width: 100% !important;
}

.card-img-top {
  height: 100% !important;
  width: 100% !important;
}

.card-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px !important;
}

.card-header {
  border: 0 !important;
  font-size: 2.6rem;
}

.card-footer {
  border: 0 !important;
}

.card-text {
  font-family: $fontBold !important;
  padding-right: 20px;
  padding-left: 20px;
}

/* for demo purposes */
.card {
  margin: 10px 10px;
}

/* Flip Cards CSS */
.card-container {
  max-height: 660px !important;
  max-width: 408px !important;
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

#btn-circle {
  border-color: $yellow;
  background-color: #0c1718;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42856;
}

#btn-rectangle {
  border-color: $yellow;
  background-color: #0c1718;
  width: 50px;
  height: 30px;
  padding: 6px 0px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42856;
}

.viewBtn {
  margin-top: 18px;
  position: absolute;
}

.championName {
  margin: 0 auto;
  padding-top: 2px;
  width: fit-content;
}

// #iconBorder{
//   width: 100px;
//   height: 100px;
//   padding-right: 100px;
//   padding-bottom: 100px;
//   border: 1px solid;
//   border-color: $yellow;
// }

#championIcon {
  margin: 0 auto !important;
  border: 1px solid black;
  background-color: yellow;
  outline: 3px solid $yellow;
  outline-offset: -4px;
  width: 100px;
  height: 100px;
}

.card-text2 {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.back-item {
  margin-bottom: 20px;
}

.cover3 {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
}

.containerIcon {
  margin: 5px;
  color: white !important;
  border: none !important;
  background: none !important;
}

.removeBorder {
  border: none !important;
}

.skillImg {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-color: $yellow;
  border-radius: 5px;
}

.flex-gap {
  display: inline-flex !important;
  flex-wrap: wrap !important;
  gap: 0px;
}

.card-img-top1 {
  height: 100% !important;
  width: 100% !important;
  filter: blur(8px);
}

.cover2 {
  opacity: 80%;
  position: absolute;
  background-color: black !important;
  height: 100% !important;
  width: 100% !important;
}

.iconStats {
  filter: saturate(6);
}

th {
  padding-bottom: 10px !important;
}

td {
  padding-top: 8px !important;
  float: left;
}

.table {
  margin-left: 65px !important;
  margin-right: 90px !important;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

iframe {
  width: 99%;
  border: 1px solid black !important;
  background-color: yellow !important;
  outline: 3px solid $yellow !important;
  outline-offset: -1px !important;
}

.modal-content {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: white;
}

.modal {
  width: 100vh;
  padding: 0 !important;
  background: center no-repeat;
  background-size: cover;
}

.profilePicture {
  width: 180px;
  height: 180px;
}

#tabbleFooter {
  margin: 0 !important;
}

#removeBg {
  border: none;
  background: none !important;
  background-color: transparent !important;
}

.iconSocial2 {
  width: 50px;
  height: 50px;
  filter: saturate(6);
  padding-right: 15px;
  padding-bottom: 15px;
}

.socialText {
  padding-left: 25px !important;
}

.iconsFooter {
  width: 40px;
  height: 40px;
}

.thFooter {
  // padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.skillImgModal {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-color: $yellow;
  border-radius: 5px;
}

.loader {
  position: absolute;
  display: flex;
  align-self: center;
  opacity: 40% !important;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

#blackScrenn{
  position: absolute;
  width: 308px;
  height: 560px;
  background-color: black;
}

#btn-mute{
  border-color: $yellow;
  background-color: #0c1718;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42856;
}

.cardHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.noPassiva{
  background-color: yellow;
  outline: 3px solid $yellow;
  outline-offset: -4px;
}
/* card-end */

/* footer-start */
.site-footer {
  background-color: #26272b;
  padding: 15px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footerText{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
#footerBox{
  border-right: 1px solid !important; 
  margin-bottom: 0px !important;
}
#footerBox2{
  border-right: 1px solid !important; 
  margin-bottom: 0px !important;
}
.footerSocialIcons{
  display: flex; 
  flex-wrap: wrap; 
  gap: 30px; 
  justify-content: center;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
#downText{
  display: none;
}
#galucoMobile{
  display: none;
}
#batataMobile{
  display: none;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  #footerBox{
    border: none !important;
  }
  #footerBox2{
    border: none !important;
  }
  #upperText{
    display: none;
  }
  #downText{
    display: block;
  }
  #galucoMobile{
    display: flex;
    padding-bottom: 50px;
  }
  #batataMobile{
    display: flex;
  }
  #batataNormal{
    display: none;
  }
  #glaucoNormal{
    display: none;
  }
  .noPassiva{
    width: 100%;
  }
  #modalFull{
    margin-top: 30%;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* footer-end */

/* media */

@media only screen and (max-width: 600px) {
  .logo {
    width: 80%;
    max-width: 400px !important;
    height: auto;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-width: 400px !important;

  }
  .search-btn i{
    font-size: 20px !important;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen 
   and (min-width : 320px) {
    #modalFull{
      margin-top: 90px !important;
    }
    #skillVideoContainer{
      width: 223px;
      height: auto;
    }
    .modal-body{
      display: flex;
      justify-content: center;
    }
}